

body {
  background-color: white;
}



.hora {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.text {
  font-size: 50px;
  text-align: center;
}

.text:hover {
  background-color: black;
}

.linears {
  background: linear-gradient(360deg, rgba(101,150,150,.8), rgba(200,115,315,1) 100%);
  text-align: center;
  text-decoration: wavy underline lime;
